# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# FFmpeg Forge (Build artifacts)
build/
ffmpeg_bin/

# Node / Frontend
node_modules/
dist/
.vite/
.eslintcache

# OS
.DS_Store
Thumbs.db
